@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";
body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}